/**
 * @name dracula
 * @description a dark mode discord theme based on the dracula color palette.
 * @author fawni
 * @coauthor RCN#0001
 * @version 1.3.2
 * @authorId 336678828233588736
 * @website https://github.com/fawni/dracula
 * @source https://github.com/fawni/dracula/blob/main/dracula.scss
 */

@import url("https://raw.githubusercontent.com/RCNOverwatcher/rcncord-theme/main/dracula.theme.css");
@import url("https://raw.githubusercontent.com/RCNOverwatcher/rcncord-theme/main/legacy-settings.css");
@import url("https://robertrr11.github.io/remove-discord-nitro/css/remove-nitro.css");
@import url("https://robertrr11.github.io/remove-discord-nitro/css/remove-boosts.css");
